<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         id="WebApp_ID" version="3.1">
    <display-name>Register</display-name>

    <!-- 这个内容是为了解决post方式的中文乱码问题，属于固定写法，照抄即可 -->
    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- 解决中文乱码的过滤器部分编写结束 -->

    <!-- 这个 servlet 能够让项目应用到 Spring MVC，非常重要，一定要写 -->
    <servlet>
        <!-- 为 servlet 起一个名字，可自己定义 -->
        <servlet-name>springMvc</servlet-name>
        <!-- 固定写法，不可修改 -->
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <!-- 制定 Spring MVC 配置文件的路径 -->
            <param-name>contextConfigLocation</param-name>
            <!-- 将路径指定为了 resources 中的 spring-mvc.xml -->
            <param-value>/WEB-INF/dispatcher-servlet.xml</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <!-- 为 servlet-mapping 起一个名字，与上面的保持一致 -->
        <servlet-name>springMvc</servlet-name>
        <!-- 将路径映射定义为/就表示所有的请求都会交给 Spring MVC 处理 -->
        <url-pattern>/</url-pattern>
    </servlet-mapping>


</web-app>